
.inventory {
  border: solid 1px black;
  list-style: none;
  padding: 15px 0px;
}

.float{
  position:fixed;
  width:47px;
  height:48px;
  bottom:40px;
  right:40px;
  background-color:#157efb;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.float:hover {
  color:#FFFFFF;
}

.my-float {
  margin-top: 22px;
}
