.sales-form-container {

}

.sales-form-block {
}

.sales-form {
  grid-area: sales-form;
  display: grid;
  grid-template-columns: auto 150px 150px auto;
  grid-template-rows: 1fr;
  grid-gap: 25px;
  margin-bottom: 15px;
  grid-template-areas:
    ". sales-form-left sales-form-right ."
}

.sales-form-left {
  justify-self: end;
  grid-area: sales-form-left;

}

.sales-form-right {
  justify-self: start;
  grid-area: sales-form-right;
}
